@media (min-width:500px) and (max-width: 990px) {
  .form-control
  {
    width: 250px !important;
  }
  #invalid
  {
    font-size: 10px;
    left: 5%;
  }
}
@media (min-width: 300px) and (max-width: 390px) {
  #invalid
  {
    font-size:8px;
    left: 24%;
  }
}